<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arrow">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>

<!-- <meta-data
    android:name="com.google.android.ar.API_KEY"
    android:value="AIzaSyC5r1F1Ua0XzKxP7ckoFDL6lezYote52E8" />

<meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyC5r1F1Ua0XzKxP7ckoFDL6lezYote52E8" /> -->
